#menu {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding-top: 3rem;

    background-color: $theme-color-brown;

    z-index: 100;

    font-size: 18px;

    ul {
        list-style: none;
    }

    a {
        color: #ffffff;
    }

    .main-links {
        > li {
            margin-bottom: 2rem;
        }
    }

    #menu-close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}
