.clinical-research {
    .btn span.glyphicon {
        opacity: 0;
        font-size: 1.2em;
    }
    .btn.active span.glyphicon {
        opacity: 1;
        font-size: 1.2em;
    }
    .news-letter-box {
        margin-top: 30px;
        font-size: 1.4em;
    }


}