.page-home {
    .main-img {
        width: 100%;
    }

    .home-menu {
        padding: 4.5%;
    }

    .home-menu a {
        color: #fff;
        text-shadow: none;
        font-weight: 100;
    }

    .arrow-home {
        margin-left: 2%;
    }

    .address-home {
        color: #7F1320;
    }

    .icons-home {
        font-size: 2.5em;
        width: 100%;
        display: block;
        height: 50%;
        color: #fff;
        padding: 0;
        margin: 0;
    }
}
