.animated {
    transition: 1s transform ease-in-out;
}

.slide-in-left {
    transform: translateX(100%);

    &.activated {
        transform: translateX(0);
    }
}

.slide-in-right {
    transform: translateX(-100%);

    &.activated {
        transform: translateX(0);
    }
}

.slide-in-down {
    transform: translateY(-100%);

    &.activated {
        transform: translateX(0);
    }
}

.slide-in-up {
    transform: translateY(100%);

    &.activated {
        transform: translateX(0);
    }
}

.fade-in-up {
    transform: translateY(100px);

    opacity: 0;

    transition: 1s transform ease-in-out, 1s opacity ease-in-out;

    &.activated {
        transform: translateY(0);
        opacity: 1;
    }
}
