@import '../desktop/components';
@import 'typography';
@import 'variables';
@import 'mixins';

.bg-theme-orange {
    @include bg-theme-orange;
}

.bg-theme-red {
    @include bg-theme-red;
}

.bg-theme-brown {
    @include bg-theme-brown;
}

.text-theme-orange {
    color: $theme-color-orange;
}

.text-theme-red {
    color: $theme-color-red;
}

.text-theme-brown {
    color: $theme-color-brown;
}

.max-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
}

.vertical-center-content > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0;
}

.mobile-logo {
    max-width: 100%;
    height: 80px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    @media (max-width: 400px){
        height:60px;
        margin-top: 25px;
    }


}

.logom {

    max-width: 100%;
    height: 80px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    @media (max-width: 400px){
        height:60px;
        margin-top: 25px;
    }

}

.home-page-slick{
    .slick-list{
        height: 100%;

        .slick-track{
            height: 100%;
        }
    }
}