@import 'variables';

@mixin bg-theme-orange {
    background-color: $theme-color-orange;
    color: #fff;
}

@mixin bg-theme-red {
    background-color: $theme-color-red;
    color: #fff;
}

@mixin bg-theme-brown {
    background-color: $theme-color-brown;
    color: #fff;
}
