@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700');

html,
body {
    font-family: "Ubuntu", sans-serif;
    color: #666565;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //
}
