// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Includes
@import '../common/index';
@import 'components';

// Partials
@import 'partials/navbar';
@import 'partials/modals';
@import 'partials/footer';
@import 'partials/sub-navigation';

// Pages
@import 'pages/home';
@import 'pages/contact';
@import 'pages/services';
@import 'pages/physician';
@import 'pages/about-staff';
@import 'pages/patients-forms';
@import 'pages/about-locations';
@import 'pages/about-conditions';
@import 'pages/clinical-research';
@import 'pages/services-diagnostic-testing';
@import 'pages/services-angiography-facilities';
@import 'pages/services-venous-studies-treatments';

html,
body,
.page,
.page > .container-fluid {
    height: 100%;

    font-size: 16px;
    line-height: 22px;
}

.page > .container-fluid {
    min-width: 1200px;
    overflow-x: hidden;
}

.sub-navigation {
    height: 100px;
    line-height: 100px;
}

.sub-nav {
    height: 100px;

    .col-xs-4 {
        height: 100px;
        line-height: 100px;

        font-size: 18px;
        color: #fff;

        text-align: center;

        cursor: pointer;
    }
}

.main-image-container,
.row-bottom {
    height: calc(100% - 100px);
}

.description-container {
    padding: 0 100px;
}

.sub-navigation {
    a {
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
        }
    }
}
