#footer {
    padding: 3rem 0;

    font-size: 13px;

    .logo {
        width: 200px;
        margin: 0 auto;
    }

    p {
        margin-bottom: 0;
        line-height: 1.3;
    }

    .fa.fa-facebook {
        color: #ffffff;
        background-color: $theme-color-orange;
        margin: 1rem 0;
    }
}
