@import '../../common/variables';

#navbar {
    height: 100px;

    .logo-container {
        padding: 1rem 0;

        text-align: center;

        width: calc(100% - 100px);

        float: left;

        .logo {
            max-height: 100%;
        }
    }

    .menu-button {
        display: block;

        width: 100px;

        line-height: 100px;

        float: left;

        &:hover,
        &:focus {
            color: #fff;

            background-color: lighten($theme-color-red, 5%);

            text-decoration: none;
        }
    }

    .phone-numbers {
        position: absolute;
        left: 20px;
        top: 50%;

        transform: translateY(-50%);

        font-size: 10px;
    }

    .contact-link {
        position: absolute;
        right: 140px;
        top: 50%;

        transform: translateY(-50%);
    }
}
