.sub-navigation-container {
    height: 100px;
    line-height: 100px;

    h4 {
        line-height: 100px;
    }

    a {
        display: block;

        color: #fff;

        &:hover,
        &:focus {
            color: rgba(#fff, .7);
        }
    }
}