@import '../../common/variables';

.page-about-locations {
    .row-bottom {
        overflow: hidden;
    }

    .left-image {
        height: calc(100% - 275px);
        background-image: url(../../../images/coastal-heart-building-logo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        border-right: 1px solid #fff;
    }

    //.mid-image {
    //    height: calc(100% - 275px);
    //    background-image: url(../../../images/coastal-heart-building-logo.jpg);
    //    background-size: cover;
    //    background-position: center;
    //    background-repeat: no-repeat;
    //
    //    border-right: 1px solid #fff;
    //}

    .right-image {
        height: calc(100% - 275px);
        background-image: url(../../../images/contact-building-right.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        border-left: 1px solid #fff;
    }

    .left-col-text {
        text-align: right;
        padding-right: 5.5rem;
    }

    .right-col-text {
        padding-left: 5.5rem;
    }

    .left-col-text,
    .right-col-text {
        height: 175px;

        > * {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .questions-button {
        height: 100px;
        line-height: 100px;

        color: #fff;

        font-size: 2rem;

        &:hover,
        &:focus {
            background-color: darken($theme-color-orange, 10%);

            color: #fff;

            text-decoration: none;
        }
    }

    & .medalLogo {
        &--left {
            &:after {
                content: '';
                background-image: url("/images/accrediation.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 70% 70%;
                min-height: 175px;
                width: 175px;
                position: absolute;
                top: 0;
            }
        }

        //&--right {
        //    &:after {
        //        content: '';
        //        background-image: url("/images/accrediation.png");
        //        background-repeat: no-repeat;
        //        background-position: center;
        //        background-size: 70% 70%;
        //        min-height: 175px;
        //        width: 175px;
        //        position: absolute;
        //        top: 0;
        //        left: -5.5em;
        //    }
        //}
    }
}
