.page-about-staff {
    .main-image-container {
        background: url(../../../images/staff.jpg) #7F1320;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .row-bottom {
        overflow-y: hidden;
    }

    .description-container {
        //overflow-y: hidden;
        //
        //> div {
        //    padding: 4rem 10rem;
        //    overflow-y: scroll;
        //}
    }
}
