.page-about-conditions {
    .row-bottom {
        overflow: hidden;
    }

    .description-container {
        height: 100%!important;
    }

    .main-image-container {
        background-image: url(../../../images/conditions-we-treat-5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    li {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .modal-dialog {
        position: relative;
        top: 50%;
        margin-top: 0;
    }

    .modal.in .modal-dialog {
        transform: translate(0, -50%);
    }

    .modal-body {
        padding: 7rem;
    }
}
