.page-clinical-research {
    .description-container {
        height: 500px;
    }

    .main-image-container {
        background-image: url(../../../images/clinical-research.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    .description-container {
        height: calc(100% - 100px);
    }
}
