@import '../../common/mixins';

.page-home {
  .bg-theme-brown,
  .bg-theme-red,
  .bg-theme-orange,
  .logo-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .building-image-container {
    height: 100%;

    //background-image: url(../../../images/coastal-heart-building-logo.jpg);
    //background-size: cover;
    //background-position: center;
  }

  .w-brand-studio-info {
    margin-bottom: 2rem;
    opacity: .7;

    a {
      color: #fff;

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }

  .contact-information {
    text-align: right;
  }

  .box-short-description {
    p {
      font-style: italic;

      opacity: .7;
    }
  }

  .vertical-center-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
  }

  .links-list {
    list-style: none;

    padding: 0;

    font-size: 14px;

    margin-bottom: 0;

    a {
      display: block;

      position: relative;

      color: rgba(#fff, .8);

      padding-top: .25rem;
      padding-bottom: .25rem;

      &:after {
        font-family: FontAwesome;
        content: "\f054";

        position: absolute;
        right: 0;
        top: 7px;

        opacity: .5;
      }
    }
  }

  .physicians-list {
    font-size: 14px;
  }

  h2 {
    margin-bottom: 0 !important;
  }

  .clinical-research-container {
    padding-left: 5rem;

    a {
      color: rgba(#fff, .75);

      letter-spacing: 1px;
    }
  }

  .bg-theme-brown,
  .bg-theme-red,
  .bg-theme-orange,
  .logo-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .w-brand-studio-info {
    margin-bottom: inherit;
  }

  .row.top-level {
    height: 16.66666%;

    &.height-2 {
      height: 33.33333%;
    }
  }
}

.main-image {
  height: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--main {
    background-image: url("/images/coastal-heart-building-logo.jpg");
  }

  &--one {
    background-image: url("/images/01-shah.jpg");
  }

  &--two {
    background-image: url("/images/02-zarka.jpg");
  }

  &--three {
    background-image: url("/images/03-hajjar.jpg");
  }

  &--four {
    background-image: url("/images/04-sbaity.jpg");
  }

  &--five {
    background-image: url("/images/05-mercedeh.jpg");
  }

  &--six {
    background-image: url("/images/06-tracy.jpg");
  }

  &--seven {
    background-image: url("/images/07-staff.jpg");
  }

  //venous page
  &--eight {
    background-image: url("/images/varicose-2.jpg");
  }

  &--nine {
    background-image: url("/images/varicose-3.jpg");
  }


  &--ten {
    background-image: url("/images/venous-studies.jpg");
  }


  //other

  &--eleven {
    background-image: url("/images/07-staff.jpg");
  }

  &-container {
    padding: 0;
  }
}
