@import '../../common/variables';

.page-patients-forms {
    .sub-title-container {
        height: 100px;
        line-height: 100px;
    }

    .main-image-container {
        background-image: url(../../../images/new-patient-forms.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main-content-container {
        overflow: hidden;

        padding: 0;

        > div {
            padding: 4rem 10rem;

            overflow: auto;

            height: 100%;
        }
    }

    .secure-forms-container {
        margin-top: 5rem;

        border: 4px solid $theme-color-red;

        > * {
            height: 155px;
        }

        .right-col {
            background-image: url(../../../images/padlock.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .pdf-icons-container {
        margin-top: 5rem;

        a {
            width: 50%;

            float: left;
        }
    }

    .flag {
        width: 50px;
    }

    .row-bottom {
        overflow: hidden;
    }
}
