@import '../../common/variables';

.page-physician {
  .row-bottom {
    height: calc(100% - 100px);
  }

  .main-image-container {
    height: calc(100% - 100px);

    background-size: cover;
    background-position: center;
  }

  .sub-navigation-container {
    height: 100px;
  }

  .description-container {
    padding: 0;

    overflow: hidden;

    height: 100%;
  }

  article {
    overflow: auto;
    padding: 4rem 15%;
  }
}

.spider-treatment {
  &-container {
    height: calc(100% - 100px);

    & .slick-list, & .slick-track {
      height: 100%;
    }
  }

  &-img {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;

    &--one {
      background-image: url("/images/spider-vein-treament.jpg");
    }

    &--two {
      background-image: url("/images/spider-vein-treament2.jpg");

    }
  }

  &--description {
    & .fade-in-up.activated {
      transform: translateY(-50%);
    }
  }

}

