@import '../../common/variables';

.page-services-venous-studies-treatments {
    .row-bottom {
        height: calc(100% - 100px);

        @media (min-width: 768px) {
            overflow: hidden;
        }
    }

    .main-image-container {
        height: 100%;

        background-image: url('../../../images/venous-studies.jpg');
        background-size: cover;
        background-position: center;
    }

    .description-container {
        height: calc(100% - 100px);
        overflow-y:auto;

        li {
            margin-bottom: 1rem;
        }

        a {
            color: #fff;

            &:hover {
                color: #fff;
            }
        }
    }

    .expandable {
        display: none;

        padding-left: 3rem;
    }

    .left-col {
        height: 100%;
    }

    .ven-slide{
        .slick-list{
            height: 100%;
            .slick-track{
                height: 100%;
            }
        }
    }
}
