@import '../../common/variables';

.page-services-angiography-facilities {
    .row-bottom {
        height: calc(100% - 100px);

        @media (min-width: 768px) {
            overflow: hidden;
        }
    }

    .main-image-container {
        height: 100%;

        background-image: url(../../../images/angiograph.jpg);
        background-size: cover;
        background-position: center;
    }

    .spider-image-container {
        height: 100%;

        background-image: url(../../../images/spider-vein-treament.jpg);
        background-size: cover;
        background-position: center;
    }

    .left-col {
        height: 100%;
    }

    .description-container {
        height: calc(100% - 100px);
    }
}
