@import '../../common/variables';

.page-services-diagnostic-testing {
    .row-bottom {
        height: calc(100% - 100px);

        @media (min-width: 768px) {
            overflow: hidden;
        }
    }

    .main-image-container {
        height: 100%;

        background-image: url('../../../images/diagnostic.jpg');
        background-size: cover;
        background-position: center;
    }

    .left-col {
        height: 100%;
    }

    .description-container {
        height: calc(100% - 100px);
    }
}
