@import '../../common/variables';

.page-services {
    .row-bottom {
        height: calc(100% - 100px);
    }

    .main-image-container {
        height: 100%;

        background-size: cover;
        background-position: center;
    }

    .sub-nav {
        height: 100px;

        .col-xs-4 {
            height: 100px;
            line-height: 100px;

            font-size: 20px;
            color: #fff;

            text-align: center;

            cursor: pointer;
        }
    }

    .left-col {
        height: 100%;
    }

    .description-container {
        height: calc(100% - 100px);
        overflow-y:scroll;
    }
}
