@import '../common/index';
@import 'pages/home';
@import 'pages/physician';
@import 'pages/clinical-research';
@import 'partials/menu';


html,
body,
.page {
    text-shadow: none;
    margin: 0;
    padding: 0;
}

.bg-theme-brown {
    background-color: #7F1320;
    color: #fff;
}

.bg-theme-orange {
    background-color: #E27C28;
    color: #fff;
}

.bg-theme-red {
    background-color: #BF2235;
    color: #fff;
}

.mobile-logo {
    max-width: 100%;

    height: 80px;

    margin: 0 auto;

    display: block;

    margin-top: 10px;
}

.banner-image {
    width: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.menu-box {
    display: block;
    width: 100px;
    line-height: 100px;
    float: right;
}

.menu-box a {
    color: #fff;
}

.footer-privacy-text {
    color: #000;
}

.coastal-form {
    margin: 10px 0px;
}

.coastal-btn {
    color: #fff;
    background-color: #E27C28;
    border-radius: 0px;
    padding: 12px 36px;
    font-size: 1.1em;
    margin: 15px 0;
}

.physicians-title {
    font-size: 1.4em;
    padding: 5px;
}

h4 {
    color: #7F1320;
}

.informative-text {
    padding: 15px;
}

.grey-text {
    color: #888;
}

.more-info-links {
    color: #7F1320;
    text-decoration: none;
}

.wbrand-link {
    color: #000;
}

.form-astrisk {
    color: #7F1320;
}